.search {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  color: var(--font-color-text);
}

.input {
  font-size: 16px; /* prevent zoom in on input focus on mobile devices  */
  background-color: transparent;
  margin: 0;
  outline: 0;
  width: 45px;
  transition: none;
  border: none;
  overflow: hidden;
  background: #1a1a1a;
  border-radius: 5px;
  display: inline-block;
  padding: 0;
  transition: 0.2s all ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.searchIcon {
  fill: currentColor;
  transition: 0.2s ease-out;
}

.button {
  background: none;
  border: none;
  color: white;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  right: 10px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.button svg {
  width: 15px;
  fill: currentColor;
  transition: 0.2s ease-out;
}

.openedSearch input {
  width: 300px;
  padding: 10px;
  opacity: 1;
  pointer-events: initial;
}

/* clears the ‘X’ from Internet Explorer */
.input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  display: none;
}
