.row {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  margin-bottom: calc(var(--spacer) / 2);
}
.alignRight {
  justify-content: flex-end;
}

@media (min-width: 55rem) {
  .row {
    flex-direction: row;
  }
}

.tagsFilters {
  margin-bottom: 0;
}
