.navigation {
  margin: -1.3rem calc(var(--spacer) / -1.5) var(--spacer)
    calc(var(--spacer) / -1.5);
  padding: calc(var(--spacer) / 2) 0;
  scrollbar-width: none;
  border-bottom: 1px solid var(--border-color);
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  position: relative;
}

.navigation ::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.navigation ol:before {
  content: '';
  height: 1px;
  background-color: var(--border-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 100%;
}

@media (min-width: 40rem) {
  .navigation {
    margin-top: -2rem;
    margin-left: calc(var(--spacer) * -2);
    margin-right: calc(var(--spacer) * -2);
  }
}

@media (min-width: 60rem) {
  .navigation {
    padding: var(--spacer) 0;
    margin-left: calc(var(--spacer) * -4);
    margin-right: calc(var(--spacer) * -4);
  }
}

.navigation ol {
  white-space: nowrap;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  counter-reset: list-number;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 40rem) {
  .navigation ol {
    width: calc(100% - var(--spacer) * 2);
    width: calc(100% - var(--spacer) * 2);
  }
}

@media (min-width: 60rem) {
  .navigation ol {
    width: calc(100% - var(--spacer) * 4);
    width: calc(100% - var(--spacer) * 4);
  }
}

.navigation li {
  cursor: pointer;
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 0 10px;
  counter-increment: list-number;
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  position: relative;
  background-color: var(--background-content);
}

.navigation li:last-child {
  margin: 0;
}

/* inject the numbers */
.navigation li:before {
  content: counter(list-number);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  margin-right: calc(var(--spacer) / 4);
}

@media (max-width: 700px) {
  .navigation li {
    white-space: initial;
    width: auto;
    padding: 0 2px;
    text-align: center;
    font-size: var(--font-size-small);
  }
  .navigation li:before {
    margin: 0 10px;
  }
}
.current:before {
  background: var(--border-color);
  border-color: transparent;
}

.navigation .success:before {
  content: '✓';
  color: var(--brand-white);
  background: var(--brand-alert-green);
  border-color: transparent;
}

.success.current:before {
  background: var(--font-color-heading);
  color: var(--brand-alert-green);
  border-color: var(--brand-alert-green);
}
