@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500;700&family=Urbanist:wght@500;900&display=swap');

:root {
  --brand-white: #ffffff;
  --brand-black: #141414;
  --brand-pink: #fe2843;
  --brand-purple: #7b1173;
  --brand-violet: #e000cf;

  --brand-grey-darker: #201f1f;
  --brand-grey-dark: #303030;
  --brand-grey: #41474e;
  --brand-grey-light: #ffffff;
  --brand-grey-lighter: #e2e2e2;
  --brand-grey-dimmed: #f7f7f7;

  --brand-gradient: linear-gradient(to right bottom, #7b1173, #ff4092);

  --brand-alert-green: #5fb359;
  --brand-alert-red: #d80606;
  --brand-alert-orange: #b35f36;
  --brand-alert-yellow: #eac146;

  --color-primary: #fe2843;
  --color-secondary: #c4c4c4;
  --color-secondary-gradient: linear-gradient(
    80.6deg,
    #008ee8 11.62%,
    #4bd7fe 93.92%
  );

  /* Only use these vars for most color referencing for easy light/dark mode */
  --font-color-text: #ebebeb;
  --font-color-heading: #ffffff;
  --background-body: #252425;
  --background-body-transparent: rgba(255, 255, 255, 0.8);
  --background-content: #1a1a1a;
  --background-highlight: #f7f7f7;
  --border-color: #686868;
  --fields-background: #444444;
  --box-shadow-color: rgba(0, 0, 0, 0.05);

  --font-family-base: 'Urbanist', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Signika Negative', sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  --font-family-monospace: , monospace;

  --font-size-root: 15px;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-small: 0.85rem;
  --font-size-mini: 0.65rem;
  --font-size-text: 1rem;
  --font-size-label: 1rem;
  --font-size-title: 1.4rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 1.7rem;
  --font-size-h4: 1.3rem;
  --font-size-h5: 1.1rem;
  --font-weight-base: 500;
  --font-weight-bold: 600;
  --line-height: 1.6;

  --spacer: 2rem;
  --assets-list-spacer: 1rem;
  --border-radius: 0.2rem;
  --assetimage-border-radius: 20px;

  --layout-max-width: 85rem;
  --checkbox-size: 1.6em;

  --break-point--small: 640px;
  --break-point--medium: 810px;
  --break-point--large: 810px;
  --break-point--huge: 810px;
}

.dark {
  --font-color-text: #e2e2e2;
  --font-color-heading: #f7f7f7;
  --background-body: #252425;
  --background-body-transparent: rgba(10, 10, 10, 0.9);
  --background-content: #141414;
  --background-highlight: #201f1f;
  --border-color: #303030;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
}
